
header{
    align-items: center;
    padding: 0.5rem;
}

h1{
   color: white;
}

header{
    display: flex;
    flex-direction: column;
}

#Titulo{
    display: flex;
    flex-direction: row;
}

.FotoPerfil{
    width: 100%;
    height: auto;
}

button{
    color: black;
    border-radius: 15px;
    padding: 5px;
    background-color: hsla(0, 0%, 100%, 0.384);
    border-color: white;
    border-width: 10px;

}
    button:hover{
       background-color: blueviolet;
    }

    button > a{
        color: black;
        font-style: n;
        text-decoration: none;
    }